$small: 576px;
$medium: 992px;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.butEnter {
  cursor: pointer;
  font-family: inherit;
  font-size: 64px;
  letter-spacing: 0.02em;
  font-weight: 300;
  width: 384px;
  height: 121px;
  color: #ffffff;
  background-color: #ffffff00;
  border: solid 4px;
  background: linear-gradient(90deg, #b5e48c, #1e6091);
  position: relative;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  @media screen and (max-width: $medium) {
    font-size: 51.2px;
    letter-spacing: 0.016em;
    width: 307.2px;
    height: 96.8px;
  }

  @media screen and (max-width: $small) {
    font-size: 51.2px * 0.8;
    letter-spacing: 0.016em * 0.8;
    width: 307.2px * 0.8;
    height: 96.8px * 0.8;
  }
}
